.parent{
    border:1px solid black;
    display: flex;
    padding:5px;
    height:600px;
    flex-wrap: wrap;
    width:78%;
    background-color: black;
    background-size: 100%;
    background-image: url("backgroundimage.jpg");
    align-items: 50px;
}
.child{
    border:2px solid rgba(0, 0, 0, 0);
    height:500px;
    width:300px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}
b{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 50px;
    padding-top: 20px;
}
sub{
    color: rgba(169, 169, 169, 0.726);
    font-size: 20px;
}
.Yellow{
    color: yellow;
    font-size: 30px;
    margin-left:30px;
}
.blue{
    color:rgb(0, 217, 255);
    font-size: 30px;
    margin-left: 30px;
}
.green{
    color:rgb(19, 218, 19);
    font-size: 30px;
    margin-left: 30px;
}
.para{
    margin-left: 30px;
    font-size: 20px;
    color: rgba(169, 169, 169, 0.548);
}
     #st:before {
         content:"\2714\0020"; 
         color:yellow;
        }
        #be:before{
            content:"\2714\0020"; 
         color:rgb(0, 217, 255);
        }
        #before:before{
            content:"\2714\0020"; 
            color:#0fcf0fdc;
        }
        li{
            padding:10px;
            font-family: 'Times New Roman', Times, serif;
        }
        .border{
            border-bottom: 1px solid black;
            border-color: rgba(133, 131, 129, 0.253);
            width:240px;
            align-items: center;
            margin-left: 30px;
        }
        .ch1{
            color: rgba(112, 110, 110, 0.623);
            background-color: rgba(68, 65, 65, 0.226);
            margin-left: 40px;
            padding: 15px;
            width:210px;
            border-radius: 5px;
            border-color: rgba(167, 158, 158, 0.295);

        }
        .ch2{
            color:rgba(169, 169, 169, 0.781);
            background-color: white;
            margin-left: 40px;
            padding: 15px;
            width:210px;
            border-radius: 5px;
            border-color: rgba(167, 158, 158, 0.295);

        }
        .ch3{
            color:white;
            background-color:#0fcf0fdc;
            margin-left: 40px;
            padding: 15px;
            width:210px;
            border-radius: 5px;
            border-color: rgba(167, 158, 158, 0.295);
        }
